In [1]:
import pandas as pd
import numpy as np

In [2]:
data_user = pd.read_excel('inputfile/cph.xlsx',header=0)
data_user

           用户编号       缴费日期  缴费金额（元）
0    1000000001 2018-03-01      101
1    1000000001 2018-05-03       80
2    1000000001 2018-07-02      150
3    1000000001 2018-08-02      200
4    1000000001 2018-09-05      220
..          ...        ...      ...
659  1000000100 2018-07-02      105
660  1000000100 2018-09-05      151
661  1000000100 2018-11-07      111
662  1000000100 2019-01-04      146
663  1000000100 2019-03-04      147

[664 rows x 3 columns]

In [3]:
groupby_usernumber = data_user.groupby(data_user['用户编号'], as_index=False).agg({
    '缴费日期': 'count', '缴费金额（元）': 'sum'})  # 按用户编号分组,统计缴费次数和缴费总金额
groupby_usernumber.rename(
    columns={'缴费日期': '缴费次数', '缴费金额（元）': '缴费总金额'}, inplace=True)
groupby_usernumber

          用户编号  缴费次数  缴费总金额
0   1000000001     8    987
1   1000000002     7    490
2   1000000003     7   1180
3   1000000004     8    621
4   1000000005     7   1500
..         ...   ...    ...
95  1000000096     7    916
96  1000000097     6    649
97  1000000098     6    735
98  1000000099     6    853
99  1000000100     7    943

[100 rows x 3 columns]

In [4]:
num_user = groupby_usernumber.shape[0]
ave_pay = sum(groupby_usernumber['缴费总金额'])/num_user  # 所有用户年平均缴费金额
ave_num = sum(groupby_usernumber['缴费次数'])/num_user  # 所有用户年平均缴费次数
print('平均缴费金额{}\n平均缴费次数{}'.format(ave_pay, ave_num))

# 输出csv文件
df0 = pd.DataFrame({"平均缴费金额":[ave_pay],"平均缴费次数":[ave_num]})
df0.to_csv("outputfile/居民客户的用电缴费习惯分析 1.csv",index=False,encoding = 'gbk')

平均缴费金额705.24
平均缴费次数6.64

In [5]:
# 输出csv文件
use_type = ['高价值型客户', '潜力型客户', '大众型客户', '低价值型客户']

df1 = pd.DataFrame(columns=['用户编号','客户类型'])
df1['用户编号'] = groupby_usernumber['用户编号']

for i in range(num_user):
    if groupby_usernumber.iloc[i, 2] > ave_pay and groupby_usernumber.iloc[i, 1] > ave_num:
        df1.iloc[i,1] = use_type[0]
    elif groupby_usernumber.iloc[i, 2] > ave_pay and groupby_usernumber.iloc[i, 1] < ave_num:
        df1.iloc[i,1] = use_type[1]
    elif groupby_usernumber.iloc[i, 2] < ave_pay and groupby_usernumber.iloc[i, 1] > ave_num:
        df1.iloc[i,1] = use_type[2]
    else:
        df1.iloc[i,1] = use_type[3]

df1.to_csv('outputfile/居民客户的用电缴费习惯分析 2.csv',index=False,encoding = 'gbk')